* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
}

.heroIllustration {
  width: 53vw;
  margin-top: -28rem;
  z-index: 1;
}

.sectionValues {
  position: relative;
}

.valuesContainer {
  padding: 8rem 8.8rem 8rem 14.4rem;
}

.values {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3.2rem;
}

.cta {
  padding-top: 11.2rem;
  padding-right: 8rem;
  padding-left: 8rem;
}

.cta .content {
  width: 100%;
  height: 57.9rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;

  display: flex;
  justify-content: center;
  gap: 0.8rem;
}

.ctaContentMain img {
  position: absolute;
  bottom: 0;
  right: 16rem;
  width: 17.3rem;
  height: 13.7rem;
}

.ctaContent {
  padding-top: 16.8rem;
  width: 73rem;
  margin-left: -12rem;
}

.ctaContentMain {
  padding: 6.4rem;
  background-color: #24053e;

  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.ctaContentMain h3 {
  color: #ffffff;
  font-family: Inter;
  font-size: 5.6rem;
  font-weight: 400;
  line-height: 6.72rem;
}

.ctaContentMain p {
  color: #ffffff;
  font-family: Manrope;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3.24rem;
}

.headshot {
  width: 47.7rem;
  height: 57.9rem;
}

.imgSize {
  width: 33vw;
  height: 33vw;
}

.footer {
  padding: 8rem;
}

.footerContent {
  display: flex;
  flex-direction: column;
  gap: 5.6rem;
  align-items: center;
}

.socialMediaLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.8rem;
}

/* Media query for devices with a max width of 1240px: */
@media (max-width: 77.5rem) {
  .heroIllustration {
    margin-top: -19rem;
  }
}

/* Media query for devices with a max width of 840px: */
@media (max-width: 52.5rem) {
  .heroIllustration {
    margin-top: -13rem;
  }

  .valuesContainer {
    padding: 5.6rem 4.4rem 4.4rem 4.4rem;
  }

  .cta {
    padding-right: 4.4rem;
    padding-left: 4.4rem;
  }

  .values {
    display: block;
  }

  .ctaContentMain {
    padding: 4.8rem;
  }

  .ctaContentMain h3 {
    font-size: 4.8rem;
    line-height: 5.76rem;
  }

  .ctaContentMain p {
    font-size: 1.6rem;
    line-height: 2.88rem;
  }

  .ctaContentMain img {
    bottom: -5rem;
    right: 0;
  }
}

/* Media query for devices with a max width of 640px: */
@media (max-width: 40rem) {
  .heroIllustration {
    margin-top: -9rem;
  }

  .ctaContentMain {
    padding: 3.2rem;
  }

  .ctaContentMain h3 {
    font-size: 3.2rem;
    line-height: 3.84rem;
  }

  .cta .content {
    flex-direction: column;
    gap: 0;

    align-items: center;
  }

  .ctaContent {
    padding-top: 0;
    width: initial;
    margin-left: 0;
    text-align: center;
  }

  .imgSize {
    margin-bottom: -4rem;
  }

  .ctaContentMain img {
    bottom: 0;
  }
}

/* Media query for devices with a max width of 440px: */
@media (max-width: 27.5rem) {
  .heroIllustration {
    margin-top: -6rem;
  }

  .valuesContainer {
    padding: 6.4rem 2rem 6.4rem 2rem;
  }

  .ctaContentMain img {
    display: none;
  }

  .sectionValues svg {
    height: 2.4rem;
  }
}
