.primaryBtnStyle {
  background: #44ffa1;
  color: #24053e;
  font-family: Manrope;
  font-size: 18px;
  font-weight: 700;
  line-height: 32.4px;
  text-align: center;
  text-decoration: none;
  padding: 1.2rem 3.2rem 1.2rem 3.2rem;
}

.primaryBtnStyle:hover {
  background: #24053e;
  box-shadow: inset 0 0 0 2px #44ffa1;
  color: #44ffa1;
}

/* Media query for devices with a max width of 640px: */
@media (max-width: 40rem) {
  .primaryBtnStyle {
    font-size: 1.6rem;
    line-height: 2.88rem;
  }
}
