.container {
  display: flex;
  flex-direction: column;
  background-color: #24053e;
  width: 100vw;
  position: relative;

  height: 77.3rem;
  overflow: hidden;
}

.navContainer {
  display: flex;
  justify-content: space-around;

  padding-top: 5.6rem;
  padding-right: 8rem;
  padding-left: 8rem;
}

.navContainer .noBullets {
  list-style-type: none;
}

.headerLeftImage {
  position: absolute;
  top: 11.8rem;
  left: -6.5rem;
}

.headerRightImage {
  position: absolute;
  right: -4.2rem;
  top: 31rem;
}

.mainContent {
  width: 55%;
  margin-left: auto;
  margin-right: auto;
  padding: 5.6rem 8rem 29.6rem 8rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.caption {
  color: #ffffff;
  font-family: Inter;
  font-size: 8rem;
  font-weight: 400;
  line-height: 8rem;
  text-align: center;
}

.newLine {
  display: none;
}

.caption span {
  position: relative;
}

.caption span::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 7.5%;
  width: 85%;
  height: 3px;
  background-color: #44ffa1;
}

/* .ornamental {
  position: absolute;
  content: "";
  bottom: 0;
  transform: translate(0, 2%);
} */

/* Media query for devices with a max width of 1240px: */
@media (max-width: 77.5rem) {
  .container {
    height: 63.5rem;
  }
  .mainContent {
    width: 65%;
  }
}

/* Media query for devices with a max width of 1040px: */
@media (max-width: 65rem) {
  /* .container {
    height: 63.5rem;
  } */

  .headerLeftImage {
    left: -15.5rem;
  }

  .mainContent {
    width: 82%;
  }
}

/* Media query for devices with a max width of 840px: */
@media (max-width: 52.5rem) {
  /* .container {
    height: 51.5rem;
  } */

  .mainContent {
    width: 100%;
  }

  .caption {
    font-size: 6rem;
    line-height: 6rem;
  }

  .newLine {
    display: block;
  }
}

/* Media query for devices with a max width of 640px: */
@media (max-width: 40rem) {
  .container {
    height: 50rem;
  }

  .caption {
    font-size: 4.8rem;
    line-height: 4.8rem;
  }
}
